@import '@styles/Themes/_variables.scss';
@import '@styles/Themes/_typography.scss';
@import '@styles/Themes/_buttons.scss';
@import '@styles/Themes/_mixins.scss';
.cartmodal {
  position: relative;
  overflow: scroll;
  height: 100%;

  &__header {
    text-transform: capitalize;
    text-align: center;
  }

  .success {
    text-align: center;
    color: $color-dark-green;
    &__summary {
      color: $color-black-font;
      margin: 1rem 0rem;
      display: grid;
      grid-template-columns: 2fr 1fr;

      .floatLeft {
        text-align: left;
      }

      .floatRight {
        justify-self: right;
        align-self: end;
      }
    }
  }

  .cartSummary {
    width: 100%;
    padding: 1.25rem;
    .right {
      float: right;
    }
  }

  hr {
    margin: 1.25rem 1rem;
    border: 0;
    border-top: 1px solid $color-light-grey;
  }

  .save {
    text-align: center;
    .pending {
      opacity: 0.5;
    }
    &__button {
      font-weight: bold;
      background: $color-green-theme;
      color: $color-white;

      cursor: pointer;
      margin: 1.25rem 0rem;
      @include big-mobile {
        width: 100%;
      }

      @include small-mobile {
        width: 100%;
      }

      @include small-tablet {
        width: 20rem;
      }

      @include big-tablet {
        width: 20rem;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
