.btnInputSquare {
  text-align: center;
  padding: 0.6em;
  font-size: 1em;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  margin-bottom: 2px;
  box-shadow: none;
  text-align: center;
  border: 0;
  box-sizing: border-box;
  font-weight: 400;
}
