///////// COLORS
$color-green-theme: #62bfad;
$color-red-theme: #ff8b8b;
$color-black-font: #0a1815;
$color-white: #ffffff;
$color-light-grey: #eeeeee;

///////// BOX SHADOW
$box-shadow: 0 0 5px 2px rgb(0 0 0 / 10%);
