@import '@styles/Themes/_position.scss';
@import '@styles/Themes/_variables.scss';
@import '@styles/Themes/_typography.scss';

.cart {
  &__container {
    background-color: $color-white;
    cursor: pointer;
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 1.25rem 0;
    padding: 1.25rem;
    border-radius: 5px;
    box-shadow: $box-shadow;
  }
  &__info {
    text-transform: capitalize;
  }
}
