@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700|Fira+Sans:600');
@import 'Themes/_variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  color: $color-black-font;
  background-color: $color-light-grey;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.error-font {
  color: red;
}
